:root {
  --white: #fff;
  --yellow: #fff338;
  --midnight-express: rgb(32, 38, 57);
  --main-background: linear-gradient(to bottom, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 35.2%, rgba(32, 38, 57, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

.main-container {
  background: var(--main-background);
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: var(--main-background);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 3em 2em;
  border-bottom: 1px solid lightgray;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.accent-text {
  display: block;
  margin-bottom: .5em;
  text-align: center;
  overflow: hidden;
  color: var(--yellow);
  opacity: .9;
}

.supporting-text {
  margin-bottom: .5em;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.intro-footer {
  font-size: .9rem;
  letter-spacing: 0.02em;
  color: var(--white);
}

.intro-footer a {
  font-weight: 500;
  text-decoration: none;
  color: var(--yellow);
  opacity: .9;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.password-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.form-field {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em 0;
  gap: 1em;
}

.form input {
  width: 10em;
  height: 3.25em;
  padding: 0.75em;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  color: var(--midnight-express);
  background-color: var(--white);
  outline: var(--white);
  cursor: text;
}

.form input:focus::placeholder {
  color: transparent;
}

::placeholder {
  color: var(--midnight-express);
}

/* 
  Hide the spin-button inside input - Chrome, Safari, Edge, Opera.
  NOTE: This feature is non-standard and should not be used without careful consideration.
  https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-inner-spin-button
*/
.form input[type='number']::-webkit-inner-spin-button {
  display: none;
}

/* Hide the spin-button inside input - Firefox */
.form input[type='number'] {
  -moz-appearance: textfield;
}

.three-arrows {
  display: none;
}

.instructions-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--yellow);
}

.chevron-down {
  display: block;
  color: var(--white);
}

.button-group,
.password-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.25em;
}

.password-boxes {
  position: relative;
  padding: 3em 0;
}

.button-group {
  padding-bottom: 3em;
  border-bottom: 1px solid lightgray;
}

.generate-pwrd-button,
.clear-all-fields-button {
  width: 15em;
  height: 3.25em;
  padding: 0.75em;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 24px;
  border: none;
  border-radius: 0.5em;
  color: var(--white);
  background-color: var(--midnight-express);
  cursor: pointer;
}

.generate-pwrd-button:hover,
.clear-all-fields-button:hover {
  color: var(--midnight-express);
  background-color: var(--yellow);
  opacity: .9;
  outline: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 3.25em;
  padding: 0.75em; 
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.5em;
  color: var(--midnight-express);
  background-color: var(--white);
  cursor: pointer;
}

.three-dots-icon {
  color: var(--midnight-express);
  font-size: 1.5rem;
}

.notification-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  padding: 1em 1.5em;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 0.5em;
  color: var(--midnight-express);
  background-color: var(--yellow);
}

.notification-text.copied {
  animation: copied 1s ease-in-out;
  visibility: visible;
  opacity: .1;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
  .intro,
  .password-generator {
    width: 75vw;
  }
}

@media screen and (min-width: 768px) {
  .form-field {
    flex-direction: row;
    padding: 3em 0 2em;
  }

  .chevron-down {
    display: none;
  }
  
  .three-arrows {
    display: flex;
    margin-right: .5em;
  }

  .instructions-text {
    display: flex;
  }

  .button-group,
  .password-boxes  {
    flex-direction: row;
  }

  .password-boxes {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .intro,
  .password-generator {
    width: 60vw;
  }
}

@media screen and (min-width: 1200px) {
  .intro,
  .password-generator {
    width: 50vw;
  }
}

@media screen and (min-width: 1440px) {
  .section-container{
    flex-direction: row;
    height: 100vh;
  }

  .section-container > * {
    flex-basis: 100%;
  }

  .main-heading {
    font-size: 5rem;
    line-height: 1;
  }

  .supporting-text {
    font-size: 2rem;
  }

  .intro-footer {
    font-size: 1rem;
  }
  
  .main-heading,
  .accent-text,
  .supporting-text,
  .intro-footer{
    width: 100%;
    text-align: right;
  }

  .intro,
  .button-group {
    border-bottom: none;
  }

  .intro,
  .content {
    height: 500px;
  }
  
  .intro {
    padding: 3em 4.25em 3em;
    border-right: 1px solid lightgray;
  }
  
  .content {
    padding: 0 4.25em;
  }

  .button-group {
    padding-bottom: 0;
  }
  
  .password-generator {
    justify-content: flex-start;
    width: 100%;
  }

  .form-field,
  .button-group,
  .password-boxes {
    justify-content: flex-start;
  }

  .notification-text {
    left: 47%;
  }
}
